.navbar {
    height: 92%;
    width: 159px; /* Adjust width as needed */
    position: fixed;
    background-color: #393826; /* Change background color as needed */
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

  }

  /* Style for the links in the navigation bar */
  .navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff; /* Change text color as needed */
    text-decoration: none;
    font-size: large;
    margin-bottom: 15px;

  }

  /* Style for the active link */
  .navbar a.active {
    background-color: #706f51; /* Change active link background color */
    border-radius: 10px;
  }

  /* Style for hover effect on links */
  .navbar a:hover {
    background-color: #706f51; /* Change hover background color */
    border-radius: 10px;
  }

  /* Style for the content to the right of the navigation bar */
  .content {
    margin-left: 120px; /* Adjust based on navbar width */
    padding: 20px;
    background-color: #000000;
  }
  body{

    background-color: #000000;
  }

   /*for Head style*/
  .head{      
    font-size: 25px;
    padding-bottom: 10rem;
    padding-left: 15px;
    font-style:italic;
  }
  
  #curve_chart {
    width: 90%; /* Set width to 80% */
    height: 400px; /* Set height to 400px */
    margin: 20px 11rem  ; /* Set margins */
    background-color: #1b1414; /* Set background color */
    border: 1px solid #ccc; /* Add border */
    border-radius: 10px; /* Add border radius */
    box-shadow: 0 0 5px rgba(47, 61, 2, 0.34); /* Add box shadow */
    position: sticky;
  }